.navBar {
  padding: 10px;
  width: 100%;
  background-color: white !important;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .IconNav {
      color: $base-color;
      font-size: 30px;
      cursor: pointer;
      display: flex;
      gap: 50px;
      align-items: center;
      .logout {
        color: $base-color;
        font-size: 30px;
      }
    }
  }
}
.navLink {
  width: 220px;
  display: flex;
  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    li {
      cursor: pointer;
      .icon {
        font-size: 20px;
      }
      .titleLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        padding-top: 40px;
      }
      &:hover {
        .title {
          color: $base-color;
        }
        .icon {
          color: $base-color;
        }
      }
    }
  }
}
