.container {
    .select {
        direction: rtl;
        display: flex;
        align-items: center;
    }
}
.MuiSelect-select {
    width: 20px;
}
.selectInput {
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}
