.container {
    .actionsTable {
        display: flex;
        justify-content: center;
        gap: 10px;
        .trashIcon {
            font-size: 16px;
            cursor: pointer;
        }

        .viewIcon {
            font-size: 16px;
            cursor: pointer;
        }
        .editIcon {
            font-size: 16px;
            cursor: pointer;
        }
    }
}

